/*
** MENU
** 1. Errors and logs
*/


/*
** Do ostylowania
*/

/*
** 1. Errors and logs
*/

/* Zwykły komunikat o błędzie */
.error{

}


/* Zwykły komunikat o powodzeniu */
.success{

}

/* Głowny tytuł storny */
.page-title{
color:rgb(156, 156, 156);

}

/* Podtytuł strony */
.page-subtitle{
  display: block;
  font-size:1.6em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Nazwa klasy którą zawierają tabele - do ostylowania */
.dziennik-table{

}

/*
Formularz logowania
*/


.page
{
  background: rgb(246, 250, 244);
  background-image: linear-gradient(to top,rgb(246, 250, 244),#f8f9fa);
  height:100%;
}


.navbar {
  background-color:rgb(246, 250, 244);
}
.nav-height
{
    padding: 20px;

}

@keyframes myAnimation{
    0%{
      opacity: 0;
    }
    20%{
      opacity: 1;
      right: 0%;
    }
    70%{
      opacity: 1;
      right: 0%;
    }
    100%{
      opacity: 0;
      right: -100%;

    }
  }
.badge-alert
{
    position: fixed;
    top:10px;
    right:10px;
    margin-right:10%;
    margin-top: 10px;
    z-index: 100;
    animation-name: myAnimation;
    animation-duration:5s;
    text-align: center;
    pointer-events: none;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.odstep
{
  padding-top: 100px;
}
.odstep1
{
  padding-top: 50px;
}
.oknolog
{
    text-align: center;
    margin:auto;
}
.logo
{
  border: lightgray solid;
  width: 700px;
  margin: auto;
  border-radius: 10px;
}
img
{
  width: 150px;
}
.logsrc
{
  width:400px;
}
.wpislog
{
  width: 700px;
  height: 350px;
  margin:auto;
  text-align: center;
  padding-top: 30px;
  border-radius: 10px;
}
input[type=text]
{
  margin: 5px;
  border-radius: 5px;
  line-height: inherit;
  padding: 7px;
}
input[type=password]
{
  margin: 5px;
  border-radius: 5px;
  padding: 7px;
  line-height: inherit;

}
input[type=submit]
{
  margin: 10px;
  border-radius: 5px;
  padding: 7px;
  line-height: inherit;
  color: #28a745;
  border-color: #28a745;
  border: 1px solid !important;
}

h1
{
  text-align: center;
}
