/*
** MENU
** 1. Errors and logs
*/


/*
** Do ostylowania
*/

/*
** 1. Errors and logs
*/

/* Zwykły komunikat o błędzie */
.error{

}


/* Zwykły komunikat o powodzeniu */
.success{

}

/* Głowny tytuł storny */
.page-title{

}

/* Podtytuł strony */
.page-subtitle{

}

/*
Formularz logowania
*/

.nav-height
{
    padding: 20px;

}
@keyframes myAnimation{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
.badge-alert
{
          position: fixed;
          top:10px;
          right:10px;
          z-index: 100;
          animation-name: myAnimation;
          animation-duration: 5s;
          text-align: center;
          pointer-events: none;
        


}


