/*
** MENU
** 1. Errors and logs
*/


/* 
** Do ostylowania
*/ 

/* 
** 1. Errors and logs
*/ 

/* Zwykły komunikat o błędzie */
.error{
    
}


/* Zwykły komunikat o powodzeniu */
.success{
    
}

/* Głowny tytuł storny */ 
.page-title{ 

}

/* Podtytuł strony */ 
.page-subtitle{
    
}

/* 
Formularz logowania 
*/

.nav-height
{
    padding: 20px;

}
@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    
    }
  }
.znikanie
{
          animation-name: myAnimation;
          animation-duration: 14s;
          animation-fill-mode: forwards;
          color:#28a745;

      
}